.registerBody {
  max-width: 500px;
  margin: 100px auto 0 auto;
  background-color: var(--white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  .errorSubmit {
    font-size: 10px;
    color: var(--red);
    position: absolute;
  }
  .form {
    color: var(--black);
    padding: 15px;
    .title {
      margin-bottom: 20px;
    }
  }
  .btn {
    width: 100%;
    background: var(--violet);
    padding: 13px 0px;
    border-radius: 8px;
    color: var(--white);
  }
  .btnSubmit {
    margin-bottom: 10px;
  }
  .btnReg {
    display: block;
    text-decoration: none;
    text-align: center;
  }
}
